.banner{
  height: 50vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__info{
  height: 50vh;
  padding: 1em;
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.banner__info-h1{
  text-align: start;
  min-width: 375px;
  max-width: 1080px;
  width:400px;
  color: #fff;
  z-index: 200;
}
.banner__info-p{
  text-align: start;
  min-width: 375px;
  max-width: 1080px;
  width:400px;
  color: #fff;
  z-index: 200;
}
.banner .banner__image{
  width: 100%;
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../src/images/banner/splash.jpg");
  z-index: 0;
  overflow: hidden;
}

@media (min-width:768px){
  
  .banner__info-h1{
    font-size:4rem;
  }
  .banner__info-p{
    font-size:2rem;
  }
}
  
@media (min-width:2060px){

  .banner .banner__image{
    background-image: url("../src/images/banner/splash2.jpg");
  }
  .banner__info{
    max-width: 1480px;
    justify-content: center;
    align-items: center;
  }
  .banner__info-h1{
    width:50%;
    font-size:5rem;
  }
  .banner__info-p{
    width:50%;
    font-size:2.5rem;
  }
}